<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>


<div id="background">
<app-navbar></app-navbar>
<div align="center">
  <h1>WELCOME ADMIN</h1>
  <br>
  <br>
<button class="btn btn-success" routerLink='/addproduct'>Add Service</button>&nbsp;
<button class="btn btn-success" routerLink='/listproduct'>Display All Services</button>&nbsp;
<button class="btn btn-success" routerLink='/getproductbyid'>Search service By Name</button>&nbsp;
<button class="btn btn-success" routerLink='/viewAllBookings'>View All Bookings</button>&nbsp;
<button class="btn btn-success" routerLink='/customerlist'>View Customers</button>&nbsp;

</div>

<div align="right"> <input type="submit"  routerLink='/adminhome' value="back" class="btn btn-success">
</div>
</div>